@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Zalando+Sans+Expanded:ital,wght@0,200..900;1,200..900&display=swap');

:root {
    --color-fondo-header: #00001f;
    --color-fondo-body: #131b3c;
    --color-fondo-main: #20304b;
    --color-primario-main: #000000;
    --color-secundario-main: rgb(255, 255, 255);
    --color-fondo-footer: #000000;
    --color-fuente-footer: #918e9e;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    background-attachment:fixed;
    background-color: var(--color-fondo-body);
    background-image: radial-gradient(circle, var(--color-fondo-main) .3rem, transparent .4rem),
                      radial-gradient(circle, var(--color-fondo-main) .3rem, transparent .4rem);
    background-size: 3rem 3rem;
    background-position: 0 0, 1.5rem 1.5rem;

    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

header {
    background-color: var(--color-fondo-header);
    height: 10rem;
}

header h1 {
    color: var(--color-secundario-main);
    font-family: "Zalando Sans Expanded", 'Times New Roman', Times, serif;
    text-align: center;
    margin-top: 3rem;
}

main {
    width: 100%;
    display: flex;
    flex-direction: column;
}

#presentacion {
    display: flex;
    flex-direction: column;
}

#presentacion h2 {
    font-family: "Zalando Sans Expanded", 'Times New Roman', Times, serif;
    font-size: 2rem;
    color: var(--color-primario-main);
    background-color: var(--color-secundario-main);
    padding: 1rem;
    width: 60%;
    border-radius: 2rem;
    margin: 2rem auto;
    text-align: center;
}

#presentacion img {
    width: 10rem;
    border-radius: 3rem;
    margin: 0 auto;
    border: 0.2rem solid var(--color-fondo-main);
    background-color: var(--color-fondo-header);
}

#presentacion p {
    font-family: "Roboto Mono", Arial, Helvetica, sans-serif;
    font-size: 1.2rem;
    color: var(--color-secundario-main);
    padding: 2rem;
}

#presentacion p span {
    font-weight: bold;
    color: green;
}

#titulo-habilidades {
    font-family: "Roboto Mono", Arial, Helvetica, sans-serif;
    font-size: 2rem;
    margin: 2rem;
    background-color: var(--color-secundario-main);
    color: var(--color-primario-main);
    width: 25rem;
    border: .3rem outset var(--color-secundario-main);
    border-radius: 1rem;
    padding: 2rem;
}

#habilidades {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-bottom: 6rem;
}

.habilidad {
    display: flex;
    margin: 0 1rem;
    background-color: var(--color-fondo-main);
    border-radius: 2rem;
    box-shadow: .3rem .3rem .5rem rgba(0, 0, 0, .3);
}

.habilidad img {
    width: 20%;
    height: 20%;
    max-width: 20%;
    max-height: 20%;
    min-width: 1%;
    min-height: 1%;
    object-fit: cover;
    border-top-left-radius: 2rem;
    border-bottom-left-radius: 2rem;
    border-right: .3rem inset var(--color-primario-main);
}

.habilidad .texto-habilidad {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.habilidad .texto-habilidad h3 {
    max-height: 30%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: .2rem .5rem;
    color: var(--color-primario-main);
    background-color: var(--color-secundario-main);
    border: .3px solid var(--color-primario-main);
    border-radius: 2rem;
    width: fit-content;
    padding: 0 1rem;
}

.habilidad .texto-habilidad p {
    width: fit-content;
    margin: .3rem 2rem;
    max-height: 70%;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--color-secundario-main);
    background-color: rgba(0, 0, 0, .2);
    border: .2rem dotted var(--color-secundario-main);
    padding: .5rem;
}

footer {
    background-color: var(--color-fondo-footer);
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}

footer strong,
ul li {
    color: var(--color-fuente-footer);
}

footer strong {
    display: inline-block;
    margin-top: 1rem;
    padding: 0 3rem;
}

footer ul li {
    text-decoration: none;
    list-style-type: none;
}

footer ul li a {
    text-decoration: none;
}


@media screen and (min-width:480px) {
    header{
        margin-bottom:2rem;
        height: 6rem;
    }
    header h1{
        display: inline-block;
        font-size: 2rem;
        margin: 2rem 2rem;
    }
    #presentacion{
        display:grid;
        grid-template-columns: repeat(3, minmax(15rem,1fr));
        grid-template-areas: "imagen titulo titulo"
                            "imagen texto texto"
                            "imagen texto texto";
        margin:2rem 0;
    }
    #presentacion img,h2{
        margin-left: 2rem;
        margin-top: 4rem;
    }
    #presentacion img{
        display:inline-block;
        grid-area:imagen;
        width: 100%;
        transition: all 0.2s ease;
    }
    #presentacion img:hover{
        background: none;
        border:none;
        transform: scale(1.2);
    }
    #presentacion h2{
        grid-area:titulo;
        font-size: 8rem;
        width: 100%;
        background:none;
        color:var(--color-secundario-main);
        text-decoration:underline;
    }
    #presentacion p{
        display: inline-block;
        top:0;
        grid-area:texto;
        font-size: 3rem;
        text-indent: 3rem;
        width: 70%;
        margin-left: 15rem;        
    } 

    #titulo-habilidades{
        width: fit-content;
        margin: 0 auto;
        margin-top: 10rem;
        font-size: 6rem;
        text-decoration: overline;
        background:none;
        border:none;
        color: var(--color-secundario-main);
    }
    #habilidades{
        margin-top:3rem;
        gap:5rem;
    }
    .habilidad{
        width: 90%;
        margin: 0 auto;
        transition:all 1s ease;
    }
    .habilidad:hover{
        transform:scale(1.1);
    }
    .habilidad .texto-habilidad{
        gap:2rem;
    }
    .habilidad h3{
        font-size: 4rem;
    }
    .habilidad p{
        font-size: 3rem;
    }

    footer{
        display: flex;
        gap:25%;
        margin-top: 10rem;
        font-size: 3rem;
    }
}